@media only screen and (min-width: 600px)  {
	.about-us {
		margin: 70px 100px 100px 100px;
	}

}

@media only screen and (max-width: 600px) {
   .about-us {
  		margin: 100px 20px 70px 20px;
   }
}

.about-us {
	text-align: center;
	text-decoration: none;
}
