.card-img-top {
	width: 100%;
	height: 200px;
}
.cta {
	background-color: green;
	width: 100%;
	color : #fff;
}
.card {
	/*border:2px solid red;*/
	width: 270px;
	background-color: #fff;
	margin: 20px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
}
@media only screen and (max-width: 600px)  {
	.card{
		margin:0px;
		margin-bottom: 20px;
	}
}