@media only screen and (min-width: 600px)  {
	.contact-us {
		margin: 150px 180px 150px 180px;
	}

}

@media only screen and (max-width: 600px) {
   .contact-us {
  		margin: 100px 20px 70px 20px;
   }
}

.contact-us {
	text-align: center;
	text-decoration: none;
}

.contact-us-ul {
	list-style-type: none;
	padding: 50px;
	
}
.contact-us-li {
	width: 250px;
	float: left;
}