@media only screen and (min-width: 600px)  {
	.model-page {
		margin: 90px 150px 70px 150px;
	}

}

@media only screen and (max-width: 600px) {
   .model-page {
  		margin: 100px 20px 70px 20px;
   }
}