.news-card {
	float: left;
	width : 300px;
}
.newscard-list{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	margin: 20px;
}

.newscard-img {
	/*margin : 30px;*/
	width : auto;
	padding: 20px;
	
}
.newscard-desc {
	margin: 20px;
}
.newscard-author {
    font-weight: bold;
}