.news-detail-page {
	background: #fff;
}
@media only screen and (min-width: 600px)  {
	.news-detail-page {
		margin: 90px 150px 70px 150px;
	}
	.news-desc {
		padding: 70px;
		font-size: 18px;
		font-family: sans-serif;
		background: #fff;
	}
	.news-title {
		margin-top: -150px;
		margin-bottom: 100px;
		margin-left: 70px;
		font-size: 18px;
		color : #fff;
		font-family: sans-serif;
		font-weight: bolder;
	}
}

.news-image {
	width: 100%;
	height: 350px;
}
@media only screen and (max-width: 600px) {
   .news-detail-page {
  		margin: 100px 20px 70px 20px;
   }
}