.product-ul {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-li {
	text-decoration: none!important;
	color:#000;
	background:#fff;
}
.product-detail {
  margin: 20px;	
  padding: 20px;

}
.product-img {
	height: 250px;
	width: 100%;
	/*padding: 10px;*/
}
.product-h3 {
	text-align: center;
}
.product-desc {
	  font-size: 16px;
	  direction: ltr;
	  margin:auto;
	  text-align:justify;
	  word-break: break-word;
	  white-space: pre-line;
	  overflow-wrap: break-word;
	  -ms-word-break: break-word;
	  word-break: break-word;
	  word-break: break-word;
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;
	  display: inline-block;
}