@media only screen and (min-width: 600px)  {
	.product-page {
		margin: 90px 150px 70px 150px;
	}

}
.product-card {
	display:block;
	list-style-type: none;
}
@media only screen and (max-width: 600px) {
   .product-page {
  		margin: 100px 20px 70px 20px;
   }
   .product-card {
   		margin: 0px;
	}
}