@media only screen and (min-width: 600px)  {
	.specification {
		margin: 70px 200px 100px 200px;
	}

}

@media only screen and (max-width: 600px) {
   .specification {
  		margin: 100px 20px 70px 20px;
   }
}
