.videocard-list{
	/*display: flex;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	margin: 20px;
}
@media only screen and (min-width: 600px)  {
	.videocard-list{
		display: flex;
	}	
}
.videocard-img {
	margin : 30px;
}
.videocard-desc {
	margin: 20px;
}
.videocard-author {
    font-weight: bold;
}