@import "_variable";

.accordion__item {
 border: 1px solid $border-color;
 margin-bottom: 10px;
 border-radius: 0;
}

.accordion__heading {
 padding: .75rem 1.25rem;
 margin-bottom: 0;
}

.accordion__button {
 color: $card-title;
 font-size: 18px;
 padding: 0px;
 text-decoration: none;
 width: 100%;
 text-align: left;

 &:before {
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  float: right;
  position: relative;
  top: 10px;
  transition: all .3s;
 }

 &[aria-expanded='true'],
 &[aria-selected='true'] {
  color: $brand-color;

  &:before {
   transform: rotate(45deg);
  }
 }
}

.accordion__panel {
 border-top: 1px solid $border-color;
 flex: 1 1 auto;
 min-height: 1px;
 padding: 1.25rem;
 padding-bottom: 25px;
 color: $card-text;
 transition: visibilty ease-in-out .3s, opacity ease-in-out .6s;
 overflow: initial;
 opacity: 1;
 visibility: visible;
 display: flex;

 &[hidden] {
  visibility: hidden;
  opacity: 0;
  display: flex !important;
  height: 0;
  overflow: hidden;
  padding: 0;
 }
}