ol.breadcrumb.mb-0 {
 padding: .75rem 1rem;
}

.breadcrumb .breadcrumb-item {
 padding-right: 5px;
 font-size: 14px;
}

.breadcrumb .breadcrumb-item a {
 color: #969696;
}

.breadcrumb .active {
 color: #26ae61;
}