@import "_variable";

.card-deck {
 margin-bottom: 20px;

 .radius-top-10 {
  border-radius: 10px 10px 0 0;

  .img-block {
   border-radius: 10px 10px 0 0;
  }
 }

 .card-body {
  border-top: 1px #e9eddb solid;
  padding: 2rem 1.5rem;
 }

 &:hover {
  .shadow {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
   transition: box-shadow ease-in-out .1s;
  }
 }
}

.card-title {
 color: $card-title;
}

.card-text {
 color: $card-text;
}

.card-price {
 color: $brand-color;
 font-size: 24px;
 font-weight: 600;
 font-family: "Barlow Semi Condensed", sans-serif;
 margin-top: 14px;
}