@import "_variable";

.header-transparent {
  position: absolute;
}


.header-transparent {
  .navbar-brand {
    margin-right: 40px;
  }
}


.navbar {
  background-color: $nav-bg;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-nav {
    .nav-link {
      color: rgba($white, .7);
      line-height: 4rem;

      &:hover {
        color: $white;
      }

      &.active {
        color: $brand-color;

      }
    }

    .show {
      .nav-link {
        color: $white
      }
    }

  }

  .navbar-brand {
    color: $white;
    font-size: 30px;
    line-height: 4rem;
    padding: 0;

    &:hover {
      color: $brand-color
    }

  }

  .navbar-toggler {
    color: $brand-color;
    font-size: 30px;

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 0;
    min-width: 180px;

    .dropdown-item {
      padding: .8rem 1rem;
      transition: all .3s;

      &:hover {
        background: $brand-color;
        color: $white;
      }
    }
  }

  .dropdown-menu {
    display: initial;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .2s;
    top: 20px;
    display: block;
    position: relative;

    &.show {
      top: -20px;
      opacity: 1;
      visibility: visible;
    }
  }

}


@media (min-width: 992px) {
  .navbar {
    .navbar-nav {
      .nav-link {
        padding: 0 1.2rem;
        font-size: 16px;
      }
    }

    .dropdown-menu {
      display: initial;
      visibility: hidden;
      opacity: 0;
      transition: all ease-in-out .2s;
      top: 130%;

      &.show {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }

    .search {
      max-width: 275px;
      position: relative;
      .form-control {
        border-color: $brand-color;
        border-radius: 4px 0 0 4px;
      }

      .btn {
        background: $brand-color;
        color: $white;
        border-radius: 0 4px 4px 0;
        border: 1px solid $brand-color;
      }

      .search-list {
        position: absolute;
        background: $white;
        top: 35px;
        left: 0;
        width: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        li {
          display: block;
          padding: .5rem 1rem;
        }
      }
    }
  }

  .header {
    .container-fluid {
      padding: 0 60px;
      align-items: initial;
    }
  }


}