@import "font-family";
//@import "~bootstrap/scss/bootstrap";
@import "bootstrap.min";
@import "_variable";
@import "_header";
@import "_breadcrumb";
@import "_accordion";
@import "_card";

* {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

a {
  outline: medium none !important;
  color: #26ae61;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h2 {
  &.title {
    color: $green;
  }
}

.sr-only {
  display: none;
}

main {
  margin-top: 100px;
  min-height: calc(100vh - 160px);

  &.home {
    margin-top: 64px;
  }
}

// for background image responsive
[data-autofit] {
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 50% 0;

  img {
    //  opacity: 0;
  }
}

.wrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 4rem 0;

  .title {
    margin-bottom: 2rem !important;
    margin-top: 0;
    text-align: center;
  }

  &.crop-section {
    // background: #ecfbdb;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
    color: $white;
    margin-bottom: 0 !important;

    &:before {
      content: "";
      position: absolute;
      bottom: 60px;
      top: 60px;
      left: 0;
      right: 0;
    }

    &.skew {
      &:before {
        transform: skewY(-3deg);
      }
    }

    &.black {
      &:before {
        background: $dark;
      }

      &.brandColor {
        &:before {
          z-index: 1;
        }

        &:after {
          content: '';
          background: $dark;
          position: absolute;
          bottom: 0;
          top: 120px;
        }

        .crop-content {
          padding: 3rem 0 3rem;
        }
      }
    }

    .crop-content {
      position: relative;
      z-index: 10;
    }

    .title {
      margin-top: 2rem;
    }


  }
}


// elipses

.short-text-line3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

//mainslider 
main {
  margin-top: 64px;
}

//carousel 
.InfiniteCarouselSlide {
  vertical-align: top;
}

//footer
#footer {
  background: $nav-bg;
  background-color: $dark;

  .social-links {
    a {
      font-size: 18px;
      display: inline-block;
      background: #2b2b2b;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 4px;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }
  }
}

@media screen and (min-width:$breakpoint-md) {
  .wrap {
    width: 75%;
  }

  .section {
    padding: 4rem 0;

    &.p-0 {
      padding: 0 !important;
    }

    .title {}
  }
}

// wrap container