<header className="App-header">
  <div className="navbar navbar-default navbar-fixed-top" role="navigation">
    <div className="container">
      <div className="navbar-header">
        <button type="button" className="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span className="sr-only">Toggle navigation</span>
          <span className="icon-bar"></span>
          <span className="icon-bar"></span>
          <span className="icon-bar"></span>
        </button>
        <a className="navbar-brand" href="#"><span className="green">Vaidic</span> Chakki</a>
      </div>
      <nav role="navigation" className="collapse navbar-collapse navbar-right">
        <ul className="navbar-nav nav">
          <li className="active"><a href="#">Home</a></li>
          <li className="dropdown">
            <a data-toggle="dropdown" href="#" className="dropdown-toggle">Chakki <b className="caret"></b></a>
            <ul className="dropdown-menu">
              <li><a href="#">Item 1</a></li>
              <li className="active"><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
              <li className="divider"></li>
              <li><a href="#">All Items</a></li>
            </ul>
          </li>
          <li><a href="#">Special Offers</a></li>
          <li><a href="#">License</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>